body {
  margin-top: 100vh;
  background-image: url(/assests/img/bg_2.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}
.main-page body {
  background-image: url(/assests/img/bg_1.jpg.webp);
}
h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 1.2;
}
.main-page h1 {
  font-weight: 600;
  font-size: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.bg-colored {
  background-color: #f8f8f8;
}
.title span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #1eb2a6;
  margin-bottom: 5px;
}
.title h2 {
  font-size: 46px;
  font-weight: 500;
  line-height: 1.4;
}
/* visiblity */
@media (max-width: 767px) {
  .midview {
    opacity: 0;
    display: none;
  }
  .largeview {
    opacity: 0;
    display: none;
  }
  .mobview {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .mobview {
    opacity: 0;
    display: none;
  }
  .largeview {
    opacity: 0;
    display: none;
  }
  .midview {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 1200px) {
  .mobview {
    opacity: 0;
    display: none;
  }
  .midview {
    opacity: 0;
    display: none;
  }
  .largeview {
    opacity: 1;
    display: block;
  }
}
/* top section */
.logo {
  line-height: 1.1;
  font-size: 12px;
  font-weight: 500;
}
.logo span {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.1;
  transition: color 0.2s;
}
.top .logo:hover span {
  color: #1eb2a6 !important;
}
.top .icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.2);
  color: #1eb2a6;
  transition: color 0.2s, background-color 0.2s;
}
.top .icon i:hover {
  color: white;
  background-color: #1eb2a6;
}
@media (max-width: 991px) {
  .top .hide {
    display: none !important;
    opacity: 0;
  }
}
@media (max-width: 1199px) {
  .top .col-5 {
    width: 197px;
    min-width: fit-content;
  }
}
/* navbar */
.navbar {
  top: 94.2px;
  background-color: transparent !important;
}
.navbar .container-xl {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar .nav-link {
  font-size: 15px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-weight: 500;
}
.navbar .active {
  color: #1eb2a6 !important;
}
.navbar .get-cert {
  width: 215px;
  height: 73px;
  background-color: #1eb2a6;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  padding: 1.5rem;
  position: relative;
  z-index: 0;
  border: 1px solid transparent;
}
.navbar .get-cert::before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -20px;
  width: 100px;
  background: #1eb2a6;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: -1;
  content: "";
}
@media (max-width: 991px) {
  .navbar .container-xl {
    background-color: #22c8ba;
  }
  .navbar .get-cert::before {
    display: none;
    opacity: 0;
  }
  .navbar .nav-link {
    padding: 10px;
  }
}
/* header */
header span {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-bottom: 5px;
}
.main-page header span {
  letter-spacing: 2px;
}
header .link-row a:hover span {
  color: #1eb2a6;
}
header p {
  color: rgba(255, 255, 255, 0.8);
}
header .btn {
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
header .btn:hover {
  box-shadow: none;
}
header .btn:first-of-type {
  background-color: #1eb2a6 !important;
}
header .btn:last-of-type {
  color: #1eb2a6;
}
@media (max-width: 575px) {
  header .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}
/* learn section */
.learn .icon {
  color: #1eb2a6;
  font-size: 50px;
}
.learn .item:first-of-type .icon {
  font-size: 32px;
}
.learn p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
.learn .item:hover {
  background-color: #1eb2a6 !important;
  color: white;
}
.learn .item:hover .icon {
  color: white;
}
.learn .item:hover p {
  color: white;
}
@media (max-width: 767px) {
  .learn img {
    opacity: 0;
    display: none;
  }
}
/* counter */
.counter {
  background-image: url(/assests/img/bg_3.jpg.webp);
  background-position: center;
  background-size: cover;
  padding: 6em 0;
}
.counter::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
.counter .icon {
  font-size: 50px;
}
.counter h2 {
  font-weight: 700;
  line-height: 1;
}
.counter span {
  color: rgba(255, 255, 255, 0.9) !important;
}
.counter .level {
  top: -100%;
}
/* our courses */
.ourcourses {
  padding: 8em 0;
}
.ourcourses .title {
  margin-bottom: 90px;
}
.ourcourses .item {
  padding: 30px 30px 40px 30px;
  margin-bottom: 20px;
}
.ourcourses .icon {
  background-color: #1eb2a6;
  font-size: 50px;
  height: 80px;
  width: 80px;
}
.ourcourses .text {
  width: calc(100% - 80px);
  padding-left: 20px;
}
.ourcourses .rating {
  color: #1eb2a6;
  font-size: 14px;
}
.ourcourses img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ourcourses .user span {
  font-weight: 500;
  color: #999999;
  font-size: 16px;
}
.ourcourses a {
  color: #1eb2a6;
}
.ourcourses .text a {
  font-weight: 500;
  font-size: 13px;
}
.ourcourses h3 {
  line-height: 1.5;
  font-size: 26px;
  font-weight: 500;
}
.ourcourses p {
  color: #1eb2a6;
  font-weight: 500;
  padding: 12px 0;
}
.ourcourses .btn {
  border-color: #1eb2a6 !important;
  padding-top: 12px;
  padding-bottom: 12px;
}
.ourcourses .btn a {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ourcourses .btn:hover {
  background-color: #1eb2a6;
}
.ourcourses .btn:hover a {
  color: white;
}
.ourcourses .carousel-indicators {
  bottom: -60px;
}
.ourcourses .carousel-indicators [data-bs-target] {
  background-color: #1eb2a6;
}
@media (min-width: 1200px) {
  .ourcourses .color .btn {
    background-color: #1eb2a6;
  }
  .ourcourses .color .btn a {
    color: white;
  }
}
/* courses */
.courses .row > * {
  padding-right: 0;
  padding-left: 0;
}
.courses .H3Font {
  font-size: 20px;
}
.courses .H3Font {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 13px;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.courses .item {
  height: 242.8px;
}
.courses span {
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
  color: #1eb2a6;
  width: fit-content;
}
.courses .icon {
  color: #1eb2a6;
  padding-top: 3px;
}
.courses .art {
  background-color: #1eb2a6;
}
.courses .bg-white:hover {
  color: white;
  background-color: #1eb2a6 !important;
}
.courses .bg-white:hover .icon {
  color: white;
}
/* testimonial */
.testimonial img {
  height: 80px;
  width: 80px;
}
.testimonial .img {
  height: fit-content;
  width: fit-content;
}
.testimonial .img span {
  width: 30px;
  height: 30px;
  background-color: #1eb2a6;
}
.testimonial h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
  font-family: sans-serif;
}
.testimonial .student .text span {
  font-size: 13px;
  color: #1eb2a6;
  font-weight: 500;
}
.testimonial p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  margin-bottom: 50px;
}
.testimonial .carousel-indicators {
  bottom: -60px;
}
.testimonial .carousel-indicators [data-bs-target] {
  background-color: #1eb2a6;
}
@media (min-width: 1200px) {
  .testimonial .color .item {
    background-color: #1eb2a6 !important;
  }
  .testimonial .color .img span {
    background-color: white;
    color: #1eb2a6 !important;
  }
  .testimonial .color h4,
  .testimonial .color .student span {
    color: white;
  }
  .testimonial .color p {
    color: rgba(255, 255, 255, 0.9);
  }
}
/* ourblog */
.OurBlog .image {
  height: 300px;
}
.OurBlog .info {
  color: #999999;
  font-size: 13px !important;
  margin-top: 8px;
  font-weight: 1000;
}
.OurBlog .blog i {
  color: #1eb2a6;
}
.OurBlog .blog span {
  line-height: 1.8;
  color: #999999;
  font-size: 13px;
  font-weight: 600;
}
.OurBlog .blog p:last-child span {
  color: #1eb2a6;
}
.OurBlog .title1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: 400;
}
.OurBlog .parag1 {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  text-align: left;
}
.OurBlog .title1:hover {
  color: #1eb2a6;
}
/* pricing section*/
.pricing .paragraph1 {
  margin-top: 35px;
  margin-bottom: 0;
  color: #111111;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}
.pricing .doller {
  font-size: 24px;
  top: -0.8em;
  color: gray;
}
.pricing .priceTag {
  font-size: 50px;
  font-weight: 600;
  color: #1eb2a6;
  margin-top: 20px;
}
.pricing .description {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  margin: 40px;
  padding-left: 3px;
  padding-right: 3px;
}
.pricing .btn {
  border-color: #1eb2a6;
  color: #1eb2a6;
  width: 60%;
  margin: auto;
  font-weight: 600;
  font-size: 12px;
  vertical-align: middle;
  margin-bottom: 30px;
}
.pricing .btn:hover {
  background: #1eb2a6;
  color: #fff;
}
/* newsletter */
.news {
  background-color: #1eb2a6;
}
.news h4 {
  font-size: 27px;
  font-weight: 500;
}
.news p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}
.news input::placeholder {
  color: white;
}
/* footer */
footer .logo {
  color: #1eb2a6;
}
footer .icon i {
  background-color: #1eb2a6;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
footer p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
footer a {
  color: #666666;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}
footer li a i {
  color: #1eb2a6;
  font-size: 10px;
}
footer a:hover {
  color: #1eb2a6;
}
footer img {
  width: 50px;
  height: 50px;
}
footer .text .meta a {
  color: #1eb2a6;
  font-size: 12px;
  line-height: 1.8;
  font-weight: 400;
}
footer .copyrights {
  background-color: #e9e9e9;
}
footer .copyrights p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}
footer .copyrights a {
  color: #1eb2a6;
  font-size: 14px;
}
